@*@model IEnumerable<MyUni.Business.Student>*@
@using System.Web.Mvc.Html
@model MyUni.Web.ViewModels.PagedViewModel<MyUni.Business.Student>

@{
    ViewBag.Title = "Students";
}


<div class="col-sm-12">
    <div class="box box-info box-solid">
        <div class="box-header with-border">
            <h3 class="box-title">Students</h3>
        </div><!-- /.box-header -->
        <div class="box-body">
            @using (Ajax.BeginForm(new AjaxOptions
            {
                HttpMethod = "GET",
                InsertionMode = InsertionMode.Replace,
                UpdateTargetId = "divSearchResults",
                Url = Url.Action("Index", new { search = Model.Search, currentPage = 1, fromSearch = true }),
                AllowCache = true
            }))
            {
                <div class="col-sm-3 no-left-padding">
                    <div class="input-group input-group-sm">
                        <input type="text" id="search" name="search" class="form-control">
                        <span class="input-group-btn">
                            @*<a href="@Url.Action("SearchStudents")" data-ajax="true" class="btn btn-info btn-flat">
                                    <i class="fa fa-search"></i>
                                </a>*@
                            @*@Ajax.ActionLink("Search", "SearchStudents",new AjaxOptions
                                {
                                    InsertionMode = InsertionMode.Replace,
                                    UpdateTargetId = "divStudents"
                                })*@
                            <button type="submit" class="btn btn-info btn-flat">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                </div>
            }

            @*<div class="col-sm-9"></div>*@
            <div class="clearfix visible-sm-block"></div>
            <hr />
            <p>
                <a href="@Url.Action("Create")" class="btn btn-warning">
                    <i class="fa fa-plus"></i>
                    &nbsp;Add New Student
                </a>
            </p>
            <div id="divSearchResults">
                @*@{ Html.RenderAction("SearchStudents"); }*@
                @{ Html.RenderPartial("_studentList", Model); }
            </div>

            <div>
                <table id="tblTest" class="table table-condensed table-hover table-bordered table-striped dataTable display" role="grid">
                    <thead>
                        <tr>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Enrolled Date</th>
                        </tr>
                    </thead>
                </table>
            </div>


        </div><!-- /.box-body -->
        @*<div class="box-footer clearfix">
                <ul class="pagination pagination-sm no-margin pull-right">

                    @for (var index = 0; index < Model.TotalPages; index++)
                    {
                        <li class="@(index == Model.CurrentPage? "active" : "")">
                            @Ajax.ActionLink((index + 1).ToString(), "Index", new { search = Model.Search, currentPage = index + 1 }, new AjaxOptions
                            {
                                HttpMethod = "GET",
                                InsertionMode = InsertionMode.Replace,
                                UpdateTargetId = "divStudents",
                                AllowCache = true
                            })

                        </li>
                    }
                </ul>
            </div>*@
    </div><!-- /.box -->
</div>



@section scripts
{
    @Scripts.Render("~/bundles/jqueryval");
    <script type="text/javascript">

        $(function () {
            $("#tblTest").DataTable({
                columns: [
                    //{
                    //    data: null,
                    //    render: function(data, type, row) {
                    //        // Combine the first and last names into a single table field
                    //        return data.first_name + ' ' + data.last_name;
                    //    }
                    //},
                    { data: "FirstName"},
                    { data: "LastName"},
                    {
                        data: "EnrolledDate",
                        render: function (dateObj) {
                            //
                            // To format the date properly
                            //  http://stackoverflow.com/questions/726334/asp-net-mvc-jsonresult-date-format
                            //
                            var oDate = new Date(parseInt(dateObj.substr(6)));//new Date(dateObj.aData[0]);
                            var result = oDate.getDate() + "/" + (oDate.getMonth() + 1) + "/" + oDate.getFullYear();
                            return "<span>" + result + "</span>";
                        }
                    }
                ],
                //"searchable":true,
                "processing": true,
                "serverSide": true,
                "ajax": "@Url.Action("GetTestData")"
            });
        });

        function updatePageInfo(e) {
            $('#pagedList li').removeClass('active');
            $('#link' + e).addClass('active');
        }
    </script>
}
