@*@model IEnumerable<MyUni.Business.Student>*@
@using System.Web.Mvc.Html
@model MyUni.Web.ViewModels.PagedViewModel<MyUni.Business.Student>

@{
    ViewBag.Title = "Students";
}


<div class="col-sm-12">
    <div class="box box-info box-solid">
        <div class="box-header with-border">
            <h3 class="box-title">Students</h3>
        </div><!-- /.box-header -->
        <div class="box-body">
            @using (Ajax.BeginForm(new AjaxOptions
            {
                HttpMethod = "GET",
                InsertionMode = InsertionMode.Replace,
                UpdateTargetId = "divSearchResults",
                Url = Url.Action("Index", new { search = Model.Search, currentPage = 1, fromSearch=true }),
                AllowCache = true
            }))
            {
                <div class="col-sm-3 no-left-padding">
                    <div class="input-group input-group-sm">
                        <input type="text" id="search" name="search" class="form-control">
                        <span class="input-group-btn">
                            @*<a href="@Url.Action("SearchStudents")" data-ajax="true" class="btn btn-info btn-flat">
                                    <i class="fa fa-search"></i>
                                </a>*@
                            @*@Ajax.ActionLink("Search", "SearchStudents",new AjaxOptions
                                {
                                    InsertionMode = InsertionMode.Replace,
                                    UpdateTargetId = "divStudents"
                                })*@
                            <button type="submit" class="btn btn-info btn-flat">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                </div>
            }

            @*<div class="col-sm-9"></div>*@
            <div class="clearfix visible-sm-block"></div>
            <hr />
            <p>
                <a href="@Url.Action("Create")" class="btn btn-warning">
                    <i class="fa fa-plus"></i>
                    &nbsp;Add New Student
                </a>
            </p>
            <div id="divSearchResults">
                @*@{ Html.RenderAction("SearchStudents"); }*@
                @{ Html.RenderPartial("_studentList", Model); }
            </div>


        </div><!-- /.box-body -->
        @*<div class="box-footer clearfix">
                <ul class="pagination pagination-sm no-margin pull-right">

                    @for (var index = 0; index < Model.TotalPages; index++)
                    {
                        <li class="@(index == Model.CurrentPage? "active" : "")">
                            @Ajax.ActionLink((index + 1).ToString(), "Index", new { search = Model.Search, currentPage = index + 1 }, new AjaxOptions
                            {
                                HttpMethod = "GET",
                                InsertionMode = InsertionMode.Replace,
                                UpdateTargetId = "divStudents",
                                AllowCache = true
                            })

                        </li>
                    }
                </ul>
            </div>*@
    </div><!-- /.box -->
</div>

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval");

    <script type="text/javascript">
        function updatePageInfo(e) {
            $('#pagedList li').removeClass('active');
            $('#link' + e).addClass('active');
        }
    </script>
}
